body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #ffebef;
}

.container {
    width: 80%;
    max-width: 100px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #d63384;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

.gallery {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* permite que imagens se ajustem e quebrem linha se necessário */
    gap: 10px; /* espaçamento entre imagens */
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto; /* ajusta altura automaticamente */
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Media queries para telas menores */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    p {
        font-size: 16px;
    }

    .gallery {
        max-width: 100%;
    }

    .gallery img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    p {
        font-size: 17px;
    }

    .gallery {
        max-width: 90%;
    }
}
